{{ 'collection-products.css' | asset_url | stylesheet_tag }}

<section class="grid-collection">
  <div class="container">
    <h1 class="section-heading section-heading--aligned-center">Deck Collection</h1>
    <div class="grid-collection__grid-parent">
      <div class="grid-collection__grid-item">
        <a href="#">
          <div class="grid-collection__img-wrapper">
            <img src="./assets/hero2.jpeg" alt="" />
          </div>
        </a>
        <div class="grid-collection__grid-item-info">
          <h5>DECKS</h5>
          <p>$200.00</p>
          <a href="" class="site-cta">
            SHOP DECKS
          </a>
        </div>
      </div>
      <div class="grid-collection__grid-item">
        <div class="grid-collection__img-wrapper">
          <img src="./assets/collection-2.jpeg" alt="" />
        </div>
        <div class="grid-collection__grid-item-info">
          <h5>DECKS</h5>
          <p>$200.00</p>
          <a href="" class="site-cta">
            SHOP DECKS
          </a>
        </div>
      </div>
      <div class="grid-collection__grid-item">
        <div class="grid-collection__img-wrapper">
          <img src="./assets/collection-3.jpeg" alt="" />
        </div>
        <div class="grid-collection__grid-item-info">
          <h5>DECKS</h5>
          <p>$200.00</p>
          <a href="" class="site-cta">
            SHOP DECKS
          </a>
        </div>
      </div>
      <div class="grid-collection__grid-item">
        <div class="grid-collection__img-wrapper">
          <img src="./assets/collection-4.jpeg" alt="" />
        </div>
        <div class="grid-collection__grid-item-info">
          <h5>DECKS</h5>
          <p>$200.00</p>
          <a href="" class="site-cta">
            SHOP DECKS
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection products",
    "settings": [
      {
        "type": "text",
        "id": "top_heading",
        "label": "Top heading",
        "default": "FEEL COMFORTABLE"
      }
    ],
    "presets": [
      {
        "name": "Collection products"
      }
    ]
  }
{% endschema %}