.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem 0;
  padding-top: 1rem;
  padding-left: 0;
}

@media screen and (min-width: 750px) {
  .list-payment {
    justify-content: flex-end;
    margin: -0.5rem;
    padding-top: 0;
  }
}

<<<<<<< HEAD
.payment-item {
=======
.list-payment__item {
>>>>>>> 3f89aa54fb43d38f6b7bdd1e1de2d877f2b0e8e9
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
<<<<<<< HEAD

.payment-item > svg {
  width: 28px;
}
=======
>>>>>>> 3f89aa54fb43d38f6b7bdd1e1de2d877f2b0e8e9
