/* .hero__position{
	position: absolute;
	top:0;
	left: 0;
} */
.hero {
	width: 100%;
	height: 100vh;
	position: relative;
}
.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
}
.hero__img-bg {
	height: 100%;
}
.hero__content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.hero__content {
	position: absolute;
	width: 100%;
	max-width: 100%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero__info-box {
	padding-left: 5%;
	padding-right: 5%;
}
.hero__info-left {
	text-align: left;
}
.hero__info-center {
	text-align: center;
}
.hero__heading {
	font-size: 5rem;
	line-height: 1.1em;
	color: var(--primary-light);
	clip-path: polygon(0%, 100% 100%, 100%, 100%, 100%, 0%, 100%);
	transform: translateY(10rem);
	opacity: 0;
}
.hero__text {
	font-size: 1.6rem;
	color: var(--primary-light);
	letter-spacing: 0.1em;
	line-height: 1.4em;
	clip-path: polygon(0%, 100% 100%, 100%, 100%, 100%, 0%, 100%);
	transform: translateY(10rem);
	opacity: 0;
}
.site-cta-wrapper {
	clip-path: polygon(0%, 100% 100%, 100%, 100%, 100%, 0%, 100%);
	transform: translateY(10rem);
	opacity: 0;
}
.hero__cta {
	display: inline-block;
}
.site-cta-wrapper:not(:last-child) {
	margin-right: 0.8em;
}
.site-cta {
	margin-top: 1em;
	padding: 1em 1.6em;
	line-height: 1.6rem;
	display: inline-block;
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	color: var(--primary-dark-text);
	border: solid 1px var(--primary-bg-btn);
	border-radius: var(--buttons-radius);
	background-color: var(--primary-bg-btn);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.site-cta:hover {
	border: solid 1px var(--primary-bg-btn-hover);
	background-color: var(--primary-bg-btn-hover);
	color: inherit;
}
@media (min-width: 375px) {
	.hero__heading {
		font-size: 3.8rem;
	}
	.hero__text {
		font-size: 1.6rem;
	}
}
@media (min-width: 768px) {
	.hero__heading {
		font-size: 4.8rem;
	}
}
@media (min-width: 1024px) {
	.hero__heading {
		font-size: 9rem;
	}
	.hero__text {
		font-size: 2rem;
	}
	.site-cta {
		font-size: 1.5rem;
		letter-spacing: 0.1em;
	}
}
