.overlap {
  width: 100%;
  padding: 8em 0;
  background-color: var(--primary-dark)
}

.overlap__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2em
}

.overlap__image-overlap {
  display: flex;
  align-items: center
}

.overlap__image-overlap--image-1:not(:last-child) {
  position: relative;
  margin-top: 50px;
  z-index: 1;
  width: 100%;
  aspect-ratio: 4/5;
  background-color: var(--placeholder-bg);
  border-radius: 5px
}

.overlap__image-overlap--image-1:not(:last-child)>img {
  aspect-ratio: 4/5;
  border-radius: 5px
}

.overlap__image-overlap--image-2 {
  margin-right: -50px;
  transform: translate(-50px);
  width: 100%;
  aspect-ratio: 4/5;
  background-color: var(--placeholder-bg);
  border-radius: 5px
}

.overlap__image-overlap--image-2>img {
  aspect-ratio: 4/5;
  border-radius: 5px
}

.overlap--img-direction-left {
  order: 0
}

.overlap--img-direction-right {
  order: 1
}

.overlap__item>h1 {
  font-size: 2.5rem;
  line-height: 1.8em;
  color: var(--primary-light)
}

.overlap__item>p {
  font-size: 1.6rem;
  color: var(--primary-light);
  letter-spacing: .1em
}

.overlap__text {
  padding: 0 5%
}

.overlap--text-aligned-left {
  text-align: left
}

.overlap--text-aligned-center {
  text-align: center
}

.overlap--text-aligned-right {
  text-align: right
}

@media(min-width: 768px) {
  .overlap__container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media(min-width: 1024px) {
  .overlap__item>h1 {
    font-size: 4rem
  }

  .overlap__item>p {
    font-size: 1.8rem
  }
}